.bg-img {
	background-image: url(img/dog-box.jpg);
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #999;
}

#logo-image {
	max-height: none;
}

#product-image {
	max-height: 500px;
	width: auto;
}

#main-card {
	max-width: 600px;
}

.dimension {
	max-width: 100px;
}